@import url('https://fonts.googleapis.com/css2?family=Lora&family=Quicksand&display=swap');
* {
    font-family: 'Lora', serif;
    color:aliceblue;
    
}
h1 {
    background-color: aquamarine;
    display:flex;
    justify-content: center;
    padding: 13px;
    color: black;
}
body {
    background-image:url('midia/ceu_estrelado.webp');
    
}
p {
    font-family: 'Quicksand', sans-serif;
}
